/* Imports the chosen font through the google API, alongside required weights. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* CSS colour variables */
:root {
  --primary: #1d1d24;
  --accent: #fdeb47;
  --text: #ffffff;
  --text-secondary: #000000;
}

/* All elements */
*{
  /* Ensures white the web page fills the entire viewport */
    margin: 0;
    padding: 0;
    /* Includes the paddng and border in the width and height of elements. */
    box-sizing: border-box;
    /* Sets the default font for the webpage. */
    font-family: 'Poppins', sans-serif;
}
/* Links */
a{
  /* Removes the underline from */
    text-decoration: none;
}
/* The primary content of the web page. */
.hero{
  /*  */
    width: 100%;
    height: 100vh;
    background: url(images/..jpg);
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 60px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: var(--text);
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: var(--accent);
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--accent);
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}

body{
    background: var(--primary);
}

.btn{
    color: var(--text-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: var(--accent);
    border: 2px solid var(--accent);
}
.btn:hover{
    background: transparent;
    border-color: var(--accent);
    color: var(--accent);
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
.content .title{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: var(--text);
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: var(--accent);
}
.content p{
    width: 55%;
    color: var(--text);
    margin-top: 25px;
    margin-bottom: 30px;
}