/* 
The following is an attempt providing cleaner default styling across all browsers.
The main downside is that this may cause slower rendering times as the website continues to grow,

These methods may not be supported by all browsers, but they are supported by the most popular modern ones.
*/

/* 
By default, width and height of an element is calculates as follows:
width + padding + border = total width
height + padding + border = total height

This means that when I'm setting the width and height of an element,
it often appears bigger than I'd expected.

Setting the box-sizing property to border-box fixes this.
As padding and border will now be included in the width and height,

We also set the margin and padding to 0 for all elements, to ensure more consistent spacing across browsers.
*/
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
The not selector selects all elements that are not the body.

First, we ensure that background images never repeat.
Then we set ensure background images are always centered.
Finally we set the background image to cover the entire page, even if this results in some cropping.
*/
*:not(body) {
	/* 
    The background-repeat property sets if/how a background image will be repeated.
    We don't want the background image to repeat.  
    */
	background-repeat: no-repeat;
	/* 
    When setting a background image, we can now default to putting it in the center of the element.
    */
	background-position: center center;
	/*
    Setting background size to cover ensures that image always fills the container
    even if it needs to crop or stretch the image.
    */
	background-size: cover;
}

/* 
By default, hidden elements still take up space in a flex container.
This means that if I have a flex container with 3 items, and I hide the middle item,
the other two items will still be spread out across the container.

Adding the following CSS will ensure that hidden elements don't take up space in a flex container.
*/
[hidden] {
	display: none !important;
}

/*
I'm not fond of the bullet points that are added to lists by default as they don't look very good.
*/
ul,
menu {
	list-style: none;
}

/*
I don't like the underline that is added to links by default.
 */
a {
	text-decoration: none;
}

/* 
I'd originally removed the cursor-change on hover for buttons in the sake of consistency,
but this resulted in it being unclear which elements were clickable.
I'm leaving this here as a reminder to myself on why I did this.

button{
    cursor: pointer;
} */

/* 
The default iframe borders are unappealing.
I've removed them for now, but may restyle them later.
*/
iframe {
	border: none;
}

/* 
By default, cells have their own borders and there may be a gap between them.
As tables are not used for layout, I've removed the borders and spacing.
This will make it clearer that the table is used to display data.
 */
* {
	border-collapse: collapse;
}
